.container-image{
    width: 100%; 
    height: 400px;
    background-image: url('../../../../assets/images/home2.avif');
    background-size: 100% auto;;
    background-repeat: no-repeat; 
    background-position: center; 
}