<div class="row ">
    <div class="col-8 d-none d-xl-block d-lg-block" style="padding-right: 0;">
        <img class="w-100 img-fluid" style="height:970px" src="../../../../assets/images/tanganyika.jpg">
        <h1 style="position: absolute;
        top: 13%;
        left: 14%;">Find the best hotel deals in Burundi...</h1 >
    </div>
    <div class="col im" style="padding-left: 95px;min-height:970px" >
    <div class="row justify-content-end me-2"><img class="img-fluid" style="height:100px;width:300px" src="../../../../assets/images/my-logo.png"></div>
    <div class="text-end">

    </div>
    
      <div>
        <h6>
            <span > Have you already an account ?</span>
            <a
                href=""
                                   
                id="signUp"
                style="color: #810019"
                routerLink=""
                
            >
               Click here to login</a
            >
        </h6>
    
      
      </div>
    </div>
    </div>